.cart{
    width:100%;
    display: flex;
    margin-top:20px;
    padding: 1rem;
}
.cartproducts{
    width:70%;
    
}
.cartp{
    display: grid;
   
}
.cartsummary{
    border-left: 2px solid #3CCF4E;
    padding-left: 2rem;
    backdrop-filter: blur(10px);
    height: 100vh;
}
.head{
    color:#3CCF4E;
    font-variant-caps:petite-caps;
    font-weight: 1600;
}